{% extends 'base.html.twig' %}

{% block title %}Cv index{% endblock %}

{% block body %}
<div class="card">
     <div class="card-header bg-info">
    <h1>Accueil</h1>
</div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Specialite</th>
                <th>NiveauEtude</th>
                <th>Experience</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.id }}</td>
                <td>{{ cv.nom }}</td>
                <td>{{ cv.prenom }}</td>
                <td>{{ cv.age }}</td>
                <td>{{ cv.email }}</td>
                <td>{{ cv.telephone }}</td>
                <td>{{ cv.adresse }}</td>
                <td>{{ cv.specialite }}</td>
                <td>{{ cv.niveauEtude }}</td>
                <td>{{ cv.experience }}</td>
                <td>
                    <a class ="btn btn-sm btn-primary" href="{{ path('cv_show', {'id': cv.id}) }}">Voir CV</a>
                    <a class ="btn btn-sm btn-primary" href="{{ path('cv_edit', {'id': cv.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="btn btn-sm btn-primary" href="{{ path('cv_new') }}">Créer un nouveau CV</a>
{% endblock %}
